*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    /* background: red; */
    overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 50%;
    float: right;
}
nav ul{

list-style: none;

text-transform: uppercase;

/* background: brown; */

overflow: hidden;

float: right;
}
nav ul li{
    font-family: 'Playfair Display', serif;

float: left;

margin-left: 50px;

/* background: blue; */
}
.banner{
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}
.banner img{
    width: 100%;
}
.photodiary{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.photodiary h5{
    font-family: 'Ubuntu', sans-serif;

color: #b4ad9e;

font-size: 14px;

font-weight: 400;

text-transform: uppercase;

margin-top: 90px;
}
.photodiary h1{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.photodiary p{margin-bottom: 40px;color: #626262;
    font-family: 'Playfair Display', serif;
}
.photodiary h6{
    font-family: 'Ubuntu', sans-serif;
    
color: #b4ad9e;
    
font-size: 14px;
    
font-weight: 400;
    
text-transform: uppercase;
    
margin-bottom: 140px;
}
.lifestyle{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.lifestyle_left{
    width: 48%;
    float: left;
}
.lifestyle_left img{
    width: 100%;
}
.lifestyle_left h6{ 
    font-family: 'Ubuntu', sans-serif; 
    color: #b4ad9e;
    font-size: 14px;
    font-weight: 400;   
    text-transform: uppercase;   
    margin-bottom: 30px;
    margin-top: 30px;
}
.lifestyle_left h1{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.lifestyle_left p{
    margin-bottom: 140px;color: #626262;
    font-family: 'Playfair Display', serif;

}
.lifestyle_right{
    width: 48%;
    float: right;
}
.lifestyle_right img{
    width: 100%;
}
.lifestyle_right h6{ 
    font-family: 'Ubuntu', sans-serif; 
    color: #b4ad9e;
    font-size: 14px;
    font-weight: 400;   
    text-transform: uppercase;   
    margin-bottom: 30px;
    margin-top: 30px;
}
.lifestyle_right h1{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.lifestyle_right p{
    margin-bottom: 140px;color: #626262;
    font-family: 'Playfair Display', serif;

}
.photo{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.photo_left{
    width: 48%;
    float: left;
}
.photo_left img{
    width: 100%;
}
.photo_left h6{ 
    font-family: 'Ubuntu', sans-serif; 
    color: #b4ad9e;
    font-size: 14px;
    font-weight: 400;   
    text-transform: uppercase;   
    margin-bottom: 30px;
    margin-top: 30px;
}
.photo_left h1{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.photo_left p{
    margin-bottom: 140px;color: #626262;
    font-family: 'Playfair Display', serif;

}
.photo_right{
    width: 48%;
    float: right;
}
.photo_right img{
    width: 100%;
}
.photo_right h6{ 
    font-family: 'Ubuntu', sans-serif; 
    color: #b4ad9e;
    font-size: 14px;
    font-weight: 400;   
    text-transform: uppercase;   
    margin-bottom: 30px;
    margin-top: 30px;
}
.photo_right h1{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.photo_right p{
    margin-bottom: 140px;color: #626262;
    font-family: 'Playfair Display', serif;

}
.news{
    background-color: #f0f0f0;
    margin-bottom: 100px;
}
.news_content{
    width: 26%;
    margin: auto;
    padding: 70px;
    position: relative;
}
.news_content h1{
    font-family: 'Playfair Display', serif;
    color: #333333;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-transform: capitalize;
}
.news_content input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #333333;
    width: 100%;
}
.news_content input:focus{
    outline: none;
}
.news_content input::placeholder{
    
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.send{
    
position: absolute;
    
top: 217px;
    
left: 430px;
}
.load{
    
text-align: center;
}
.load button{
font-family: 'Playfair Display', serif;
font-weight: 500;
padding: 15px 40px;
margin-bottom: 150px;
}
footer{
    background: #f0f0f0;
    overflow: hidden;
}
.footer_content{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}
.terms{
    width: 30%;
    float: left;
}
.terms ul{
    list-style: none;
    color: #303030;
    font-family: 'Playfair Display', serif;
    font-size: small;
}
.terms ul li{
    float: left;
    margin-right: 10px;
}
.icons{
    width: 30%;
    float: right;
}
.icons ul{
    list-style: none;
    float: right;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size:small;
}
.icons ul li:first{
    color: #303030;
}
.icons ul li{
    float: left;
    margin-left: 15px;
}